<div style="margin-top:15vh; margin-left: 35vw; text-align:center">
  <% if @user.errors.any?%>
    <p><%= @user.errors.full_messages.join(', ')%></p>
  <%end%>
  <div style="width: 30vw;">
    <%= form_with model: @user do |f|%>
      <div class="form-outline mb-4">
        <%= f.label :current_password, class: "form-label"%>
        <%= f.password_field :current_password, class: "form-control", style: "text-align: center;"%>
      </div>
      <div class="form-outline mb-4">
        <%= f.label :new_password, class: "form-label"%>
        <%= f.password_field :password, class: "form-control", style: "text-align: center;"%>
      </div>
      <div class="form-outline mb-4">
        <%= f.label :new_password_confirmation, class: "form-label"%>
        <%= f.password_field :password_confirmation, class: "form-control", style: "text-align: center;"%>
      </div>
      <%= f.submit "Change Password", class:"btn btn-warning" %>
    <%end%>
  </div>
</div>
