<div style="margin-top:10vh">
  <% if @user.errors.any?%>
    <p><%= @user.errors.full_messages.join(', ')%></p>
  <%end%>
  <div>
    <%= form_with model: @user do |f|%>
      <div>
        <%= f.label :current_password%>
        <%= f.password_field :current_password%>
      </div>
      <div>
        <%= f.label :new_password%>
        <%= f.password_field :password%>
      </div>
      <div>
        <%= f.label :new_password_confirmation%>
        <%= f.password_field :password_confirmation%>
      </div>
      <%= f.submit "Change Password" %>
    <%end%>
  </div>
</div>
